{% extends 'base.html' %}

{% block title %}Login - Comprendeshi{% endblock %}

{% block content %}
    <h2>Login</h2>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    <form method="POST">
        <p>Username: <input type="text" name="username" /></p>
        <p>Password: <input type="password" name="password" /></p>
        <p><input type="submit" value="Login" /></p>
    </form>
    
    <p><small>Hint: username = admin, password = admin</small></p>
{% endblock %}